<h2>Shopping Cart</h2>

<% @carted_products.each do |carted_product| %>
		<h2><%= carted_product.product.name %> - qty: <%= carted_product.quantity %> - <%= link_to 'remove', "/carted_products/#{carted_product.id}", method: :delete %></h2>
<% end %>

<%= link_to 'Buy Now!', '/orders', method: :post, class: "btn btn-danger" %>